@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

body {
    background: rgb(43, 43, 43);
    font-family: 'Shippori Mincho', serif;
    color: white;
}

.App {
  position: relative;
  min-height: 100vh;
}

.nv-icon {
    text-decoration: none;
    color: white;
    transition : text-decoration-line 0.2s;
}

.nv-icon:hover {
    text-decoration: none;
    color: white;
    text-decoration-line: underline;
}

.App h1 {
    color: white;
}

.btn {
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    outline: none;
  }

.btn i {
  color : white;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    /* position: absolute; */
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 2;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .btn:hover, .dropdown:hover .btn{
    background-color:white;
  } */

  .btn:hover, .dropdown:hover i{
    color: rgb(85, 85, 85)
  }