<span style="text-align: center; align-items: center;">
        <div>
            <br/>
            <h2>Oops, You have not created a shelf yet</h2>
            <br/>
            <p>Head to the link below and click on "NEW SHELF"<br/>
            Then add some books and you're off</p>
            <br/>
            <a href="https://books.google.com/books" target="_blank" class="btn btn-primary">Create Shelf</a>
        </div>
</span>