
<% if(!logedIn) {%>
    <a href="/login" class="btn btn-primary"></a>
<% } %>
<span style="text-align: center; align-items: center;">
    <br/>
    <h2>My Book Shelf</h2>
    <br></br>
    <div class="container-fluid align-items-center" style="width: 100%;">
        <div class="row justify-content-center">
            <% for (var i = 0; i < books.length; ++i ) {%>
                <div class="col-sm-4" style="padding: 20px;">
                    <div class="card align-items-center" style="width: 18rem; background: whitesmoke; padding: 10px;">
                        <img src="<%= books[i].coverImageName%>" class="card-img-top" style="width: 100px; height: 150px;" alt="<%= books[i].title%>">
                        <div class="card-body">
                          <h5 class="card-title"><%= books[i].title%></h5>
                          <p class="card-text"><%= books[i].description%></p>
                          <a href="#" class="btn btn-primary"></a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</span>
