<div style="display: flex; height: 80vh;width: 100vw; justify-content: center; align-items: center;">
    <div style="text-align: center; align-items: center; width: 50%;">
        <h3>Welcome to Mibrary.</h3>
        <p>This app makes use of the Google Books API to make a personalised Bookshelf for you to share and keep the books that you have read</p>
        <p>Log in With your Google account to continue</p>
        <a href="/google" class="btn btn-primary">Log In</a>
    </div>
</div>